.CV {
    max-width:57em;
    background:rgba(21, 135, 140, 0.26);
    padding:1em 5em;

    & > header {
        border:solid thin gray;
        padding: 0.5em;
        border-radius:0.5em;

        display:grid;
        grid-template-columns: 170px auto;
        grid-template-rows: 4em auto;
        grid-template-areas:
            "photo title"
            "photo about"
    }

    & img.photo {
        grid-area:photo;
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;   
        background-image: url(./photo.jpg);
        background-size: cover;
        border-radius:50%;
        border: white 0.7em solid;
        filter: drop-shadow(1px 1px 4px gray);
        width:120px;
        height:120px;
    }


}
