.CV {
    max-width:57em;
    padding:1em 5em;

    @media print {
        & {
            padding: 1em;
        }
    }

    & > header {

        display:grid;
        grid-template-columns: calc(160px + 2*0.7em + 1em) auto;
        grid-template-rows: min-content min-content min-content;
        gap:0.5em;
        padding:1em 0.5em;
        grid-template-areas:
            "photo title"
            "photo about"
            "links about";
        
        & > div.photo {
            grid-area:photo;

            display:flex;
            align-items: center;
            justify-content: center;
        }

        & > h1 {
            grid-area:title;
        }

        & > p {
            grid-area:about;
            line-height: 1.4em;

            font-size: 1.2em;
        }

        & > .contacts {
            margin:0;

            & > dt {
                padding:0.2em;
                display: flex;
                align-content: center;

                & > img {
                    width:1.2em;
                    height:1.2em;
                }
                & > a {
                    line-height:1em;
                }
                & > * ~ a {
                    padding-left:0.2em;
                }
            }
        } 
    }

    & img.photo {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;   
        background-image: url(./photo.jpg);
        background-size: cover;
        border-radius:50%;
        border: white 0.7em solid;
        filter: drop-shadow(1px 1px 4px gray);
        width:160px;
        height:160px;
    }
}
