.CV {
    max-width:57em;
    padding:1em 0;
    
    @media screen and (max-width: 57em) {
        & h2 {
            padding-left:0.5em;
        }
    }

    @media print {
        & {
            padding: 1em;
        }
    }

    & article {
        margin: 2em 0 0 0;

        padding:0.5em;

        border-width:thin;
        border-style:solid none;
        border-color:gray;
        background:white;
        filter: drop-shadow(0px 0px 0.5rem rgba(128, 128, 128, 0.1));

        &:first-of-type {
            margin-top:0em;
        }

        &:last-child {
            //margin-bottom:2em;
        }

        & h3 {
            margin:0;
            display:inline-block;
        }

        & span.element {

            &:not(:first-child):before {
                content:" ",
            }
            &:not(:first-child) {
                padding-left:0.3em;
            }

            &:not(:last-child):after {
                content:", ";
            }
        }
    }
}
