.Projects {

    & > h2 {
        margin:0;
    }

    & article.Project {
        border:solid thin gray;
        margin: 2em 0 0 0;
        border-radius:0.5em;

        @media print {
            & {
                break-inside: avoid;
            }
        }


        &:last-child {
            margin-bottom:2em;
        }

        & section {

            &.name {
                font-size:1.6rem;
                padding:0.2em 0;
            }

            &.employer {
            }
            &.period {
                color:gray;
                padding-bottom:1.5em;
            }
            &.description, &.responsibilities {
                font-size:1.2rem;
            }
            &.stack {
                padding:1em 0.5em 0.5em 0.5em;
                display:flex;
                font-weight:bold;
            }

            &:not(:last-child) {
            }

            & div {
            }

            & .title {
            }
            & .description {
                padding-left: 0.5em;
                
                & > .element {

                    &:not(:first-child) {
                        padding-left:0.5em;
                    }

                    &:not(:last-child):after {
                        content:","
                    }
                }
            }
        }

    }
}
