.Projects {

    & article.Project {
        border:solid thin gray;
        margin: 1em 0 0 0;
        border-radius:0.5em;

        @media print {
            & {
                break-inside: avoid;
            }
        }


        &:last-child {
            margin-bottom:1em;
        }

        & section {
            display:flex;

            &:not(:last-child) {
                border-bottom: solid thin gray;
            }

            & div {
                padding: 0.5em;
            }

            & .title {
                flex:0 0 8em;
                border-right: solid thin gray;

                
            }
            & .description {
                padding-left: 0.5em;
                
                & > .element {

                    &:not(:first-child) {
                        padding-left:0.5em;
                    }

                    &:not(:last-child):after {
                        content:","
                    }
                }
            }
        }

    }
}
